<div id="wrapper">
    <div id="sidebar">
        <div id="widget" class="sticky">
            <script src="https://maps.googleapis.com/maps/api/js"></script>
            <script>
                
            </script>
        </div>
    </div>
    <div id="article">
        <div class="row">
            <div class="col-md-12">
                <%= search_form_for @search, url: search_path do |f|%>
                    <div class="row">
                        <div class="col-md-3">
                            <%= f.text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field :price_gteq, placeholder: "Min Price", class: "form-control" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field :price_lteq, placeholder: "Max Price", class: "form-control" %>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <%= check_box_tag "q [room_type_eq_any] []", "Entire" %>
                            Entire
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q [room_type_eq_any] []", "Private" %>
                            Private Room
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q [room_type_eq_any] []", "Shared" %>
                            Shared Room
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                    
                    <hr>
                    
                <% end %>
            </div>
        </div>
    </div>
</div>